<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha256-Ucf/ylcKTNevYP6l7VNUhGLDRZPQs1+LsbbxuzMxUJM= sha512-FW2XqnqMwERwg0LplG7D64h8zA1BsxvxrDseWpHLq8Dg8kOBmLs19XNa9oAajN/ToJRRklfDJ398sOU+7LcjZA==" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="UTF-8">
    <title>faveFlix</title>    
</head>
<body>
  <div class="container">
    <div class='header'>
        <h1><a href="/">faveFlix</a><img class='logo' src="https://image.freepik.com/free-icon/eye-outline-variant-with-heart-shaped-center_318-47710.jpg" alt="heart-eye" style="width:50px;height:50px;"></h1>
    </div>
    <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="#">Popular</a>
                  </li>
                  <li><a href="#">Highly Rated</a>
                  </li>
              </ul>
                  <ul class='nav navbar-nav navbar-right'>
                    <li><a href="#">Profile</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                    <li><a href="#">Signup</a>
                    </li>
                  </ul>
          </div>

    </nav>
    <div class='row'>
      <div class='col-md-3'></div>
        <div class='col-md-6' id="index-custom-search-input">
          <div class='input-group' id='search-box'>
            <form action="/tvshows/search" method="get">
            <label for="tvshow"></label>
            <input type="text" name="tvshow" placeholder="Enter TV Show Name" required>
            <input type="submit" value="submit">
          </form>
          <div id="q-results" class="results"></div>
        </div>

     <!--   <div class='input-group' id='search-box'>
              <input type="text" class="search-query form-control" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-cerulian" type="button">
                      <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
          </div>
 -->



      </div>
    </div>

    <div class='row'>
      <div class='col-md-12' id='index-poster-rows'>
        <% topRates.forEach(function(topRate){ %>
        <div>
          <img id ='index-posters'src="http://image.tmdb.org/t/p/w500<%= topRate.poster_path %>" height="350" width="250" >
          <h4 id='title'> <%= topRate.name %></h4>
          <h6 id='rating'> Rating: <%= topRate.vote_average %></h6>
          <span class= 'glyphicon glyphicon-heart-empty'></span>
        </div>
       <% }) %>
      </div>
    </div>
  
 </body>
</html>


<!-- THIS IS FOR THE TV SHOW POSTERS -->

<!-- <div class='row'>
        <div class='col-md-12'>
          <% topRates.forEach(function(topRate){ %>
          <img id ='index-posters'src="http://image.tmdb.org/t/p/w500<%= topRate.poster_path %>" height="200" width="150" >
          <h4> <%= topRate.name %></h4>
          <h6> Rating: <%= topRate.vote_average %></h6>
         <% }) %>
        </div>
      </div> -->

<!-- END TV SHOW POSTERS FOR INDEX PAGE -->

<!-- THIS IS THE TV SHOW POSTER GENERAL INTEGRATION CALL -->
  <!-- <div> -->
    <!-- <form action="/tvshows/search" method="get">
      <label for="tvshow"></label>
        <input type="text" name="tvshow" placeholder="Enter TV Show Name" required>
            <input type="submit" value="submit">
            <h3>TV Show Search Results:</h3>
          </form>
          <div id="q-results" class="results"></div> -->
        <!-- </div> -->

        <!-- <div class="container-fluid">
        <h2> Top Rate TV Show</h2>
        <% topRates.forEach(function(topRate){ %>
      	<h3> <%= topRate.name %></h3>
        <img src="http://image.tmdb.org/t/p/w500<%= topRate.poster_path %>" height="200" width="150" >
        <h4> Rating: <%= topRate.vote_average %></h4>
        <h4> First on Air: <%= topRate.first_air_date %> </h4>
        <p> <%= topRate.overview %> </p>
        <% }) %>
        
        </div> -->
 
<!-- INDEX PAGE PICS AND ABOUT -->
      <!-- <div class='row'>
        <div class='col-md-12'>
          <div class='col-md-3' id='index-pic-1'>
            <img src='https://unsplash.it/250/250/?random' alt="places" hspace="20">
          </div>
          <div class='col-md-3' id='index-pic-2'>
            <img src='https://unsplash.it/250/250/?random' alt="places">
          </div>
          <div class='col-md-3' id='index-pic-3'>
            <img src='https://unsplash.it/250/250/?random' alt="places">
          </div>
          <div class='col-md-3' id='index-pic-4'>
            <img src='https://unsplash.it/250/250/?random' alt="places">
          </div>
        </div>
      </div> -->

   <!--  <div class='col-md-3'></div>  
    <div class='col-md-6'>
      <h1 id='about-f-f'> ABOUT faveFlix </h1>
      <P>Cupcake carrot cake bear claw brownie lollipop jelly beans. Tootsie roll pudding pie cotton candy. Marshmallow toffee dragée pudding chocolate jujubes marshmallow oat cake croissant. Bonbon topping candy canes candy candy canes bear claw brownie pie.
      Jelly-o jujubes jelly oat cake cake icing. Soufflé cookie fruitcake candy. Danish toffee lollipop.</P>
 -->


<!-- bootstrap search bar -->
          <!-- <div class='input-group' id='search-box'>
              <input type="text" class="search-query form-control" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-cerulian" type="button">
                      <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
          </div> -->