<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8">
  <title>faveFlix</title>
</head>
<body>
<div>
          <form action="/tvshows/search" method="get">
            <label for="tvshow"></label>
            <input type="text" name="tvshow" placeholder="Enter TV Show Name" required>
            <input type="submit" value="submit">
            <h3>TV Show Search Results:</h3>
            <a href="/auth/facebook">Login with Facebook</a>
          </form>
          <div id="q-results" class="results"></div>
        </div>

  <div class="container-fluid">
  <h2> Top Rate TV Show</h2>
  <% topRates.forEach(function(topRate){ %>
	<h3> <%= topRate.name %></h3>
  <img src="http://image.tmdb.org/t/p/w500<%= topRate.poster_path %>" height="200" width="150" >
  <h4> Rating: <%= topRate.vote_average %></h4>
  <h4> First on Air: <%= topRate.first_air_date %> </h4>
  <p> <%= topRate.overview %> </p>
  <% }) %>
  
  </div>
  </body>
</html>
