<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha256-Ucf/ylcKTNevYP6l7VNUhGLDRZPQs1+LsbbxuzMxUJM= sha512-FW2XqnqMwERwg0LplG7D64h8zA1BsxvxrDseWpHLq8Dg8kOBmLs19XNa9oAajN/ToJRRklfDJ398sOU+7LcjZA==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="UTF-8">
    <title>faveFlix</title>    
</head>
<body>
  <div class="container">
      <div class='header'>
          <h1><a href="/">faveFlix</a><img class='logo' src="https://image.freepik.com/free-icon/eye-outline-variant-with-heart-shaped-center_318-47710.jpg" alt="heart-eye" style="width:50px;height:50px;"></h1>
      </div>
      <nav class="navbar navbar-default" id='navbar'>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" id='left-nav-items'>
                  <li><a href="/tvshows/popular">Popular</a>
                  </li>
                  <li><a href="/tvshows/topRated">Highly Rated</a>
                  </li>
              </ul>
              <ul class='nav navbar-nav navbar-right' id='right-nav-items'>
                  <li><a href="/users/profile">Profile</a>
                  </li>
                  <li><a href="/users/login">Login</a>
                  </li>
                  <li><a href="/users/signup">Signup</a>
                  </li>
              </ul>
          </div>
    </nav>
      <div class='col-md-3' id='poster-streams'>
          <% topRates.forEach(function(topRate){ %>
            <div>
              <img id ='index-posters-signup'src="http://image.tmdb.org/t/p/w500<%= topRate.poster_path %>" height="300" width="250" >
              <h4 id='topRatedPosters'> <%= topRate.name %>
                  <button type="button" class="btn btn-default btn-lg" id='favorite'>
                  <a href="/users/profile"
                  <span class="fa fa-heart" style="color:#46b8da;" data-tmdbID="<%=topRate.id %>"></span></a>
              </button>
              &nbsp;
              <button type="button" class="btn btn-default btn-lg" id='watchMe'>
                  <a href="/users/profile"
                  <span class="fa fa-eye" style="color:#46b8da;" data-tmdbID="<%=topRate.id %>"></span></a>
              </button>
              </h4>
              <h6> Rating: <%= topRate.vote_average %></h6>
            </div>
          <% }) %>
        </div>

      <div class='col-md-6' id="signup-custom-search-input">
          <div class='input-group' id='search-box'>
              <form action="/tvshows/search" method="get" id='tvSearch'>
                  <label for="tvshow"></label>
                  <input type="text" id= 'formTvshow' name="tvshow" placeholder="Search..." required>
                  <input type="submit" class="fa fa-search" value= '&#xf002' id='formSearchBtn'>
              </form>
              <div id="q-results" class="results"></div>
          </div>
          
          <br>
          <br>
        <form id='signup-form' action='/users/signup' method='post'>
              <h4 id='signup-here'> SIGNUP USING EMAIL: </h4>
              <br>
              <div class="form-group">
                  <label for="exampleInputName2">Name</label>
                  <input type="text" name="name" value=""class="form-control" id="exampleInputEmail1" placeholder="Full Name">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" value=""  class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" name="button" class="btn btn-default" id='signup-btn'>Signup</button>
          </form>
          <br>
          <h4 id='fb-signup'> SIGNUP WITH FACEBOOK: </h4>
          <br>
          <a href="/auth/facebook">
            <img id='fb-btn' src='http://i.stack.imgur.com/ZW4QC.png'>
          </a>
      </div>
    </div>
  </div>
</body>
</html>

